
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: #202122;
    box-shadow: 0px 5px 15px;
    background: linear-gradient(90deg, #48edfc, #1E3A8A); /* Gradient background */
    box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.5);
    z-index:999 ;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

img {
    border-radius: 50%;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 500px;
    border-radius: 5px;
    background-color: #18d4e6;
}

.nav-search:hover {
    border: 2px solid rgb(7, 59, 66);
}

.search-input {
    width: 100%;
    font-size: 15px;
    
}

.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    font-size: 20px;
    list-style: none;
    padding:15px 20px;
    position: relative;
}

#navbar li a i {
    color: #ffffff;
}

#navbar li a i:hover {
    color: #f5c014;
}

.border {
    border: 1.5px solid transparent;
    padding: 10px;

}

.border:hover {
    border: 1.5px solid white;
    transition: border 0.3s ease;
    background: linear-gradient(90deg, #1E3A8A , #09dff3); /* For simple remove this */
}

.cart-count {
    width: 20px;  /* Size of the count bubble */
    height: 20px;  /* Size of the count bubble */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position it relative to the parent container */
    top: 2px;  /* Adjust to place it above the cart icon */
    right: 5px;  /* Adjust to place it to the right of the cart icon */
    border-radius: 50%;  /* Round shape */
    font-size: 14px;
    background-color: rgb(255, 81, 0);  /* Background color for the count */
    color: white;  /* Text color */
    padding: 2px;  /* Add padding for spacing around the number */
    text-align: center;  /* Center text in the bubble */
    font-family: 'Roboto', sans-serif;
  }
  
    /* Panel Section  */

    .panel {
        height: 39px;
        display: flex;
        align-items: center;
        background-color: #1E3A8A;
        box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.5);
     
        
     }
     
     .panel-all {
         font-weight: 700px;
         color: white;
     }
     
     .panel-ops p {
         display: inline;
         margin-left: 13px;
         color: #ffffff;
         font-size: 16px;
         margin: 10px 0;
         transition: color 0.3s ease;
     }
     
     .panel-ops p:hover {
         color: #f1f52c;
         cursor: pointer;
     }
     
     .panel-ops {
         width: 90%;
         display: flex;
         justify-content: space-around;
     }

    