.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Adjusted gap for better alignment */
    height: auto; /* Adjusted height for better responsiveness */
}


.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    display: flex;
    flex-wrap: wrap; /* Added flex-wrap for better alignment */
    gap: 20px; /* Adjusted gap for better alignment */
    justify-content: center;
}
